anyio==4.14.1
beautifulsoup4==4.15.0
certifi==2026.6.17
cffi==2.0.0
charset-normalizer==3.4.7
cryptography==49.0.0
google-auth==2.55.1
google-auth-oauthlib==1.4.0
gspread==6.2.1
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.18
linkpreview==0.12.1
neonize==0.3.18.post0
oauthlib==3.3.1
phonenumbers==9.0.33
pillow==12.2.0
protobuf==7.35.1
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==3.0
python-dotenv==1.2.2
python-magic==0.4.27
requests==2.34.2
requests-oauthlib==2.0.0
segno==1.6.6
soupsieve==2.8.4
tqdm==4.68.3
typing_extensions==4.15.0
urllib3==2.7.0
